
Sample_data/step_table.csv
*.pyc
Sample_data/animal_avg_&_stdv.csv
Sample_data/ANOVA_results.csv
Sample_data/normal_stats.csv
Sample_data/non_normal_stats.csv
/Sample_data/group_results
Sample_data/stick_diagrams
/Sample_data/trialwise_joint_graphs_toe_off
/Sample_data/trialwise_joint_graphs_toe_touch
/Full_data/V3Off_Levelwalk/h5_raw
/Full_data/WT_Levelwalk/h5_raw
Full_data/step_table.csv
/Full_data/stick_diagrams
/Full_data/group_results/avg_graphs
/Full_data/group_results
Full_data/animal_avg_&_stdv.csv
/Full_data/angle_graphs
/Full_data/V3Off_Levelwalk/h5_with_stats
/Full_data/WT_Levelwalk/h5_with_stats
/Sample_data/WT_Levelwalk/h5_with_stats
/Sample_data/V3Off_Levelwalk/h5_with_stats
/Full_data/V3Off_Incline/h5_raw
/Full_data/WT_Incline/h5_raw
/Full_data/WT_Incline/h5_with_stats
/Full_data/V3Off_Incline/h5_with_stats
/scratch
/Selected_data/
Full_data/animal_avg_stdv_&_median.csv
