
Sample_data/step_table.csv
*.pyc
Sample_data/animal_avg_&_stdv.csv
Sample_data/ANOVA_results.csv
Sample_data/normal_stats.csv
Sample_data/non_normal_stats.csv
/Sample_data/group_results
Sample_data/stick_diagrams
/Sample_data/trialwise_joint_graphs_toe_off
/Sample_data/trialwise_joint_graphs_toe_touch
/Full_data/V3Off_Levelwalk/h5_raw
